In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [33]:
name=[]
mileage=[]
dealer_name=[]
rating=[]
reviews=[]
price=[]

for i in range(1,400):
    website='https://www.cars.com/shopping/results/?page=' + str(i) + '&page_size=20&list_price_max=&makes[]=&maximum_distance=20&models[]=&stock_type=used&zip='
    response = requests.get(website)
    soup=BeautifulSoup(response.content, 'html.parser')
    results=soup.find_all('div', {'class':'vehicle-card'})
    
    for result in results:
        try:
            name.append(result.find('h2').get_text())
        except:
            name.append('n/a')
        
        
    
        try:
            mileage.append(result.find('div', {'class':'mileage'}).get_text())
        except:
            mileage.append('n/a')
        
        
        
        
        try:
            dealer_name.append(result.find('div', {'class':'dealer-name'}).get_text().strip())
        except:
            dealer_name.append('n/a')
        
        
        
        try:
            rating.append(result.find('span', {'class':'sds-rating__count'}).get_text())
        except:
            rating.append('n/a')
        
        
        
        try:
            reviews.append(result.find('span', {'class':'sds-rating__link'}).get_text())
        except:
            reviews.append('n/a')
        
        
        try:
            price.append(result.find('span', {'class':'primary-price'}).get_text())
        except:
            price.append('n/a')

In [34]:
cars_com = pd.DataFrame({'Name':name, 'Mileage':mileage, 'Dealer Name':dealer_name, 'Rating':rating, 
                        'Reviews':reviews, 'Price':price})

In [35]:
cars_com

,Name,Mileage,Dealer Name,Rating,Reviews,Price
0,2018 BMW 330 i xDrive,"31,050 mi.",BMW of Orland Park,4.5,(609 reviews),"$31,397"
1,2020 Kia Telluride S,"27,000 mi.",Kosters Car Korner,4.9,(79 reviews),"$32,900"
2,2019 Lexus ES 350,"26,230 mi.",CarMax Jacksonville West - Now offering Curbsi...,1.0,(2 reviews),"$41,998"
3,2016 BMW 340 i,"26,227 mi.",Lease Return Center,3.5,(260 reviews),"$32,777"
4,2019 Lexus IS 300 Base,"45,049 mi.",EchoPark Automotive Greensboro Delivery Center,1.3,(4 reviews),"$35,489"
...,...,...,...,...,...,...
7971,2018 INFINITI QX60 Base,"31,845 mi.",EchoPark Automotive Charlotte,4.6,(465 reviews),"$33,989"
7972,2019 Dodge Challenger SXT,"17,808 mi.",AutoSavvy Las Vegas,4.6,(283 reviews),"$24,400"
7973,2019 GMC Sierra 1500 Denali,"41,634 mi.",Trucks Only Tucson,1.5,(2 reviews),"$64,499"
7974,2021 Toyota Corolla LE,"23,000 mi.",Jack Hanania Chevrolet,4.1,(121 reviews),"$23,199"
7975,2019 Mercedes-Benz CLA 250 Base,"54,984 mi.",Florida Fine Cars Miami,4.9,"(3,655 reviews)","$27,149"

In [36]:
cars_com['Reviews']=cars_com['Reviews'].apply(lambda x:x.strip('reviews)').strip('('))

In [37]:
cars_com

,Name,Mileage,Dealer Name,Rating,Reviews,Price
0,2018 BMW 330 i xDrive,"31,050 mi.",BMW of Orland Park,4.5,609,"$31,397"
1,2020 Kia Telluride S,"27,000 mi.",Kosters Car Korner,4.9,79,"$32,900"
2,2019 Lexus ES 350,"26,230 mi.",CarMax Jacksonville West - Now offering Curbsi...,1.0,2,"$41,998"
3,2016 BMW 340 i,"26,227 mi.",Lease Return Center,3.5,260,"$32,777"
4,2019 Lexus IS 300 Base,"45,049 mi.",EchoPark Automotive Greensboro Delivery Center,1.3,4,"$35,489"
...,...,...,...,...,...,...
7971,2018 INFINITI QX60 Base,"31,845 mi.",EchoPark Automotive Charlotte,4.6,465,"$33,989"
7972,2019 Dodge Challenger SXT,"17,808 mi.",AutoSavvy Las Vegas,4.6,283,"$24,400"
7973,2019 GMC Sierra 1500 Denali,"41,634 mi.",Trucks Only Tucson,1.5,2,"$64,499"
7974,2021 Toyota Corolla LE,"23,000 mi.",Jack Hanania Chevrolet,4.1,121,"$23,199"
7975,2019 Mercedes-Benz CLA 250 Base,"54,984 mi.",Florida Fine Cars Miami,4.9,"3,655","$27,149"

In [39]:
cars_com.to_csv('cars_com.csv', index = False)

In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
import numpy as np

In [2]:
cars_com = pd.read_csv('cars_com.csv')
cars_com

,Name,Mileage,Dealer Name,Rating,Reviews,Price
0,2018 BMW 330 i xDrive,"31,050 mi.",BMW of Orland Park,4.5,609,"$31,397"
1,2020 Kia Telluride S,"27,000 mi.",Kosters Car Korner,4.9,79,"$32,900"
2,2019 Lexus ES 350,"26,230 mi.",CarMax Jacksonville West - Now offering Curbsi...,1.0,2,"$41,998"
3,2016 BMW 340 i,"26,227 mi.",Lease Return Center,3.5,260,"$32,777"
4,2019 Lexus IS 300 Base,"45,049 mi.",EchoPark Automotive Greensboro Delivery Center,1.3,4,"$35,489"
...,...,...,...,...,...,...
7971,2018 INFINITI QX60 Base,"31,845 mi.",EchoPark Automotive Charlotte,4.6,465,"$33,989"
7972,2019 Dodge Challenger SXT,"17,808 mi.",AutoSavvy Las Vegas,4.6,283,"$24,400"
7973,2019 GMC Sierra 1500 Denali,"41,634 mi.",Trucks Only Tucson,1.5,2,"$64,499"
7974,2021 Toyota Corolla LE,"23,000 mi.",Jack Hanania Chevrolet,4.1,121,"$23,199"
7975,2019 Mercedes-Benz CLA 250 Base,"54,984 mi.",Florida Fine Cars Miami,4.9,"3,655","$27,149"

In [3]:
cars_com["Mileage"] = cars_com["Mileage"].str.replace('mi.','', regex=True)

In [4]:
cars_com

,Name,Mileage,Dealer Name,Rating,Reviews,Price
0,2018 BMW 330 i xDrive,"31,050",BMW of Orland Park,4.5,609,"$31,397"
1,2020 Kia Telluride S,"27,000",Kosters Car Korner,4.9,79,"$32,900"
2,2019 Lexus ES 350,"26,230",CarMax Jacksonville West - Now offering Curbsi...,1.0,2,"$41,998"
3,2016 BMW 340 i,"26,227",Lease Return Center,3.5,260,"$32,777"
4,2019 Lexus IS 300 Base,"45,049",EchoPark Automotive Greensboro Delivery Center,1.3,4,"$35,489"
...,...,...,...,...,...,...
7971,2018 INFINITI QX60 Base,"31,845",EchoPark Automotive Charlotte,4.6,465,"$33,989"
7972,2019 Dodge Challenger SXT,"17,808",AutoSavvy Las Vegas,4.6,283,"$24,400"
7973,2019 GMC Sierra 1500 Denali,"41,634",Trucks Only Tucson,1.5,2,"$64,499"
7974,2021 Toyota Corolla LE,"23,000",Jack Hanania Chevrolet,4.1,121,"$23,199"
7975,2019 Mercedes-Benz CLA 250 Base,"54,984",Florida Fine Cars Miami,4.9,"3,655","$27,149"

In [5]:
cars_com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7976 entries, 0 to 7975
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         7976 non-null   object
 1   Mileage      7974 non-null   object
 2   Dealer Name  7918 non-null   object
 3   Rating       7867 non-null   float64
 4   Reviews      7900 non-null   object
 5   Price        7976 non-null   object
dtypes: float64(1), object(5)
memory usage: 374.0+ KB

In [6]:
#from sklearn.preprocessing import OrdinalEncoder
#enc=OrdinalEncoder()

In [7]:
#for i in cars_com.columns:
#    if cars_com[i].dtypes=="object":
#        cars_com[i]=enc.fit_transform(cars_com[i].values.reshape(-1,1))

In [87]:
#cars_com['Rating'] = cars_com['Rating'].astype(str)

In [ ]:
cars_com['Mileage'] = cars_com['Mileage'].str.replace()

In [101]:
#cars_com['Mileage'] = cars_com['Mileage'].astype(float)

#cars_com['Mileage'] = cars_com['Mileage'].astype(float)

In [89]:
#cars_com['Dealer Name'] = cars_com['Dealer Name'].astype(float)
#cars_com['Dealer Name'] = pd.to_numeric(cars_com['Dealer Name'],errors='coerce')

In [8]:
cars_com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7976 entries, 0 to 7975
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         7976 non-null   object
 1   Mileage      7974 non-null   object
 2   Dealer Name  7918 non-null   object
 3   Rating       7867 non-null   float64
 4   Reviews      7900 non-null   object
 5   Price        7976 non-null   object
dtypes: float64(1), object(5)
memory usage: 374.0+ KB

In [9]:
cars_com.isnull().sum()

Name             0
Mileage          2
Dealer Name     58
Rating         109
Reviews         76
Price            0
dtype: int64

In [10]:
X = cars_com.drop(['Name','Dealer Name', 'Price'], axis=1)
Y = cars_com['Price']

In [11]:
X

      Mileage  Rating Reviews
0     31,050      4.5    609
1     27,000      4.9     79
2     26,230      1.0      2
3     26,227      3.5    260
4     45,049      1.3      4
...       ...     ...     ...
7971  31,845      4.6    465
7972  17,808      4.6    283
7973  41,634      1.5      2
7974  23,000      4.1    121
7975  54,984      4.9  3,655

[7976 rows x 3 columns]

In [12]:
Y

0       $31,397
1       $32,900
2       $41,998
3       $32,777
4       $35,489
         ...
7971    $33,989
7972    $24,400
7973    $64,499
7974    $23,199
7975    $27,149
Name: Price, Length: 7976, dtype: object

In [23]:
#cars_com1 = cars_com.apply(lambda x: x.replace({'35,361  '}, regex = True))
#cars_com1

In [19]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=2)

In [20]:
#Model Training

In [21]:
lm=LinearRegression()