1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [1]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
import requests
import re
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [27]:
list_wiki = {}
list_wiki['Rank'] = []
list_wiki['Name'] = []
list_wiki['Artist'] = []
list_wiki['Upload date'] = []
list_wiki['Views'] = []


for i in range(1,31):
    
    rank = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[' + str(i) +']/td[1]'.format(i))
    for d in rank:
        list_wiki['Rank'].append(d.text)

    name = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[' + str(i) +']/td[2]'.format(i))
    for n in name:
        list_wiki['Name'].append(n.text)
      
        
    artist = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[' + str(i) +']/td[3]'.format(i))
    for a in artist:
        list_wiki['Artist'].append(a.text)
   

    upload_date = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[' + str(i) +']/td[5]'.format(i))
    for u in upload_date:
        list_wiki['Upload date'].append(u.text)
        
    
    views = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[' + str(i) +']/td[4]'.format(i))
    for v in views:
        list_wiki['Views'].append(v.text)


        
fund_df = pd.DataFrame(list_wiki)
fund_df

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.53
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.82
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.31
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.69
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.48
5,6.,"""Bath Song""[20]",Cocomelon ‚Äì Nursery Rhymes,"May 2, 2018",5.27
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.58
7,8.,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[22]",Miroshka TV,"February 27, 2018",4.56
8,9.,"""Uptown Funk""[23]",Mark Ronson,"November 19, 2014",4.54
9,10.,"""Masha and the Bear ‚Äì Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.49
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.40
11,12.,"""Wheels on the Bus""[30]",Cocomelon ‚Äì Nursery Rhymes,"May 24, 2018",3.96
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.92
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.68
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.56
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.56
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.54
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.44
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.32
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.28
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.27
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.26
22,23.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.21
23,24.,"""Baa Baa Black Sheep""[42]",Cocomelon ‚Äì Nursery Rhymes,"June 25, 2018",3.21
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.19
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.19
26,27.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.16
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.14
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.12
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.07

2. Scrape the details team India‚Äôs international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

# Opening the google images
url = " https://www.bcci.tv/"
driver.get(url)

In [3]:
int = driver.find_element_by_xpath("//*[@id='navigation']/ul[1]/li[2]/a")
int.click()

In [18]:
bcci_tv = {}
bcci_tv['Match title'] = []
bcci_tv['Series'] = []
bcci_tv['Place'] = []
bcci_tv['Date'] = []
bcci_tv['Time'] = []
for i in range(1):
    
    match_title = driver.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]'.format(i))
    for m in match_title:
        bcci_tv['Match title'].append(m.text)

    series = driver.find_elements_by_xpath('//span[@class="ng-binding"]'.format(i))
    for s in series:
        bcci_tv['Series'].append(s.text)
      
        
    place = driver.find_elements_by_xpath('//span[@class="ng-binding ng-scope"]'.format(i))
    for p in place:
        bcci_tv['Place'].append(p.text)
   

    date = driver.find_elements_by_xpath('//h5[@class="ng-binding"]'.format(i))
    for d in date:
        bcci_tv['Date'].append(d.text)
        
    
    time = driver.find_elements_by_xpath('//h5[@class="text-right ng-binding"]'.format(i))
    for t in time:
        bcci_tv['Time'].append(t.text)


        
fund_df = pd.DataFrame(bcci_tv)
fund_df

,Match title,Series,Place,Date,Time
0,1st T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium,",9 JUN 2022,6:00 PM +04
1,2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium,",12 JUN 2022,6:00 PM +04
2,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",14 JUN 2022,6:00 PM +04
3,4th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium,",17 JUN 2022,6:00 PM +04
4,5th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium,",19 JUN 2022,6:00 PM +04

3.Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [12]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

url = "https://www.guru99.com/"
driver.get(url)

In [13]:
sel = driver.find_element_by_xpath("//*[@id='java_technologies']/li[3]/a")
sel.click()

In [14]:
excep = driver.find_element_by_xpath("//*[@id='post-193']/div/div/table[5]/tbody/tr[34]/td[1]/a/strong")
time.sleep(3)
excep.click()

In [19]:
sel_excep = {}
sel_excep['Name'] = []
sel_excep['Description'] = []

for i in range(1,43):
    
    name = driver.find_elements_by_xpath('//*[@id="post-1953"]/div/div/table/tbody/tr[' + str(i) +']/td[1]'.format(i))
    for m in name:
        sel_excep['Name'].append(m.text)

    description = driver.find_elements_by_xpath('//*[@id="post-1953"]/div/div/table/tbody/tr[' + str(i) +']/td[2]'.format(i))
    for d in description:
        sel_excep['Description'].append(d.text)
        
sel_n_d = pd.DataFrame(sel_excep)
sel_n_d

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can‚Äôt be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n‚Äôt sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/ .You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

In [7]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

url = "https://www.statisticstimes.com/economy/india-statistics.php"
driver.get(url)

In [8]:
sel_ind = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]')
sel_ind.click()

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [25]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

url = "https://github.com/trending"
driver.get(url)

In [32]:
assign_4 = {}
assign_4['Repository title'] = []
assign_4['Repository description'] = []
assign_4['Contributors count'] = []
assign_4['Language used'] = []
for i in range(1,43):
    
    title = driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article['+ str(i) +']/p'.format(i))
    for t in title:
        assign_4['Repository title'].append(t.text)

    description = driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article['+ str(i) +']/p'.format(i))
    for d in description:
        assign_4['Repository description'].append(d.text)
    
    language = driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article['+ str(i) +']/div[2]/span[1]/span[2]'.format(i))
    for l in language:
        assign_4['Language used'].append(l.text)



assign_4

{'Repository title': ['Repo for external large-scale work',
  'Join the GitHub Graduation Yearbook and "walk the stage" on June 11.',
  "freeCodeCamp.org's open-source codebase and curriculum. Learn to code for free.",
  'Haptic input knob with software-defined endstops and virtual detents',
  'Windows system utilities to maximize productivity',
  'This repo contain the syllabus of the Hugging Face Deep Reinforcement Learning Class.',
  'Repository containing the game data for the game Genshin Impact.',
  'Digital Forensics Guide',
  'A server software reimplementation for a certain anime game.',
  '12 weeks, 26 lessons, 52 quizzes, classic Machine Learning for all',
  'The Modern Data Stack üê∞ ‚Äî Directus is an instant REST+GraphQL API and intuitive no-code data collaboration app for any SQL database.',
  'Python notebooks with ML and deep learning examples with Azure Machine Learning Python SDK | Microsoft',
  'üéÆ Refer√™ncias para Game Designers.',
  'üìö ÂÖçË¥πÁöÑËÆ°ÁÆóÊú∫ÁºñÁ®ãÁ±ª‰∏≠Êñá‰π¶Á±çÔºåÊ¨¢ËøéÊäïÁ®ø',
  'This repository contains .NET Documentation.',
  'A layer 1 for everyone!',
  'SteamOS 3 (Holo) archiso configuration',
  'Docker container for managing Nginx proxy hosts with a simple, powerful interface',
  'Azure Quickstart Templates',
  'CVNets: A library for training computer vision networks',
  'The A32NX Project is a community driven open source project to create a free Airbus A320neo in Microsoft Flight Simulator that is as close to reality as possible.',
  'Personal CRM. Remember everything about your friends, family and business relationships.',
  'The open and composable observability and data visualization platform. Visualize metrics, logs, and traces from multiple sources like Prometheus, Loki, Elasticsearch, InfluxDB, Postgres and many more.'],
 'Repository description': ['Repo for external large-scale work',
  'Join the GitHub Graduation Yearbook and "walk the stage" on June 11.',
  "freeCodeCamp.org's open-source codebase and curriculum. Learn to code for free.",
  'Haptic input knob with software-defined endstops and virtual detents',
  'Windows system utilities to maximize productivity',
  'This repo contain the syllabus of the Hugging Face Deep Reinforcement Learning Class.',
  'Repository containing the game data for the game Genshin Impact.',
  'Digital Forensics Guide',
  'A server software reimplementation for a certain anime game.',
  '12 weeks, 26 lessons, 52 quizzes, classic Machine Learning for all',
  'The Modern Data Stack üê∞ ‚Äî Directus is an instant REST+GraphQL API and intuitive no-code data collaboration app for any SQL database.',
  'Python notebooks with ML and deep learning examples with Azure Machine Learning Python SDK | Microsoft',
  'üéÆ Refer√™ncias para Game Designers.',
  'üìö ÂÖçË¥πÁöÑËÆ°ÁÆóÊú∫ÁºñÁ®ãÁ±ª‰∏≠Êñá‰π¶Á±çÔºåÊ¨¢ËøéÊäïÁ®ø',
  'This repository contains .NET Documentation.',
  'A layer 1 for everyone!',
  'SteamOS 3 (Holo) archiso configuration',
  'Docker container for managing Nginx proxy hosts with a simple, powerful interface',
  'Azure Quickstart Templates',
  'CVNets: A library for training computer vision networks',
  'The A32NX Project is a community driven open source project to create a free Airbus A320neo in Microsoft Flight Simulator that is as close to reality as possible.',
  'Personal CRM. Remember everything about your friends, family and business relationships.',
  'The open and composable observability and data visualization platform. Visualize metrics, logs, and traces from multiple sources like Prometheus, Loki, Elasticsearch, InfluxDB, Postgres and many more.'],
 'Contributors count': [],
 'Language used': ['Python',
  'JavaScript',
  'TypeScript',
  'C++',
  'C#',
  'JavaScript',
  'Jupyter Notebook',
  'Python',
  'Java',
  'Jupyter Notebook',
  'TypeScript',
  'Jupyter Notebook',
  'Rust',
  'Shell',
  'JavaScript',
  'Shell',
  'C#',
  'Python',
  'JavaScript',
  'PHP',
  'TypeScript']}

In [33]:
len(assign_4["Repository title"]), len(assign_4["Repository description"]), len(assign_4["Contributors count"]), len(assign_4["Language used"])

(23, 23, 0, 21)

6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following
details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through cod

In [14]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

s = Service(r'C:\Users\Turgut\Desktop\chromedriver_win32\chromedriver.exe')
driver = webdriver.Chrome(service=s)

In [15]:
#driver=webdriver.Chrome("chromedriver.exe")
#time.sleep(2)

url = "https:/www.billboard.com/"
driver.get(url)

In [16]:
top_100 = driver.find_element_by_xpath('//*[@id="main-wrapper"]/header/div[2]/div/nav/ul/li[1]/a')
top_100.click()

In [24]:
quest_6= {}
quest_6['Artist_name'] = []
quest_6['Last_week_rank'] = []
quest_6['Peak_rank'] = []
quest_6['Weeks_on_board'] = []

for i in range(0,100):
    

    artist_name = driver.find_elements_by_xpath('//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span'.format(i))
    for a in artist_name:
        quest_6['Artist_name'].append(a.text)
        
    last_week = driver.find_elements_by_xpath('//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[4]/span'.format(i))
    for l in last_week:
        quest_6['Last_week_rank'].append(l.text)

    peak_rank = driver.find_elements_by_xpath('//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[5]/span'.format(i))
    for p in peak_rank:
        quest_6['Peak_rank'].append(p.text)
        
    week = driver.find_elements_by_xpath('//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[6]/span'.format(i))
    for w in week:
        quest_6['Weeks_on_board'].append(w.text)
        
        
find = pd.DataFrame(quest_6)
find

     Artist_name Last_week_rank Peak_rank Weeks_on_board
0   Harry Styles              1         1              4
1   Harry Styles              1         1              4
2   Harry Styles              1         1              4
3   Harry Styles              1         1              4
4   Harry Styles              1         1              4
..           ...            ...       ...            ...
95  Harry Styles              1         1              4
96  Harry Styles              1         1              4
97  Harry Styles              1         1              4
98  Harry Styles              1         1              4
99  Harry Styles              1         1              4

[100 rows x 4 columns]

In [18]:
len(quest_6["Name"]), len(quest_6["Artist_name"]), len(quest_6["Last_week_rank"]), len(quest_6["Peak_rank"]), len(quest_6["Weeks_on_board"])

(0, 99, 99, 99, 99)

7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [26]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

url = "https://www.naukri.com/"
driver.get(url)

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [29]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [76]:
book_name = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr['+ str(i) +']/td[2]")
Book_name = []
for i in book_name:
    Book_name.append(i.text)
Book_name[0:100]

author_name=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr['+ str(i) +']/td[3]")
Author_name=[]
for i in author_name:
    Author_name.append(i.text)
Author_name[0:100]

volumes_sold=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr['+ str(i) +']/td[4]")
Volumes_sold=[]
for i in volumes_sold:
    Volumes_sold.append(i.text)
Volumes_sold[0:100]

publisher=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr['+ str(i) +']/td[5]")
Publisher = []
for i in publisher:
    Publisher.append(i.text)
Publisher[0:100]

genre=driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr['+ str(i) +']/td[6]")
Genre=[]
for i in genre:
    Genre.append(i.text)
Genre[0:100]


df=pd.DataFrame({'Book name':Book_name[:100],
                'Author name':Author_name[:100],
                'Volume sales':Volumes_sold[:100],
                'Publisher':Publisher[:100],
                'Genre':Genre[:100]})

df

,Book name,Author name,Volume sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,Transworld
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Bloomsbury
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Bloomsbury
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Bloomsbury
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Random House
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,Random House
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Penguin
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Scholastic Ltd.
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Orion
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Penguin

9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [23]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [93]:
name=driver.find_elements_by_xpath('//span[@class="lister-item-year.text-muted.unbold"]')#.format(y))
Name=[]
for n in name:
    Name.append(n.text)
Name[0:100]



#year_span=driver.find_elements_by_xpath('//a[@class="lister-item-year text-muted unbold"]/span[2]')#.format(y))
#Year_span=[]
#for y in year_span:
#    Year_span.append(y.text)
#Year_span[0:100]

#genre = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[5]')#.format(i))
#Genre = []
#for g in genre:
#    Genre.append(g.text)
#Genre[0:100]

#run_time=driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[3]')#.format(y))
#Run_time=[]
#for r in run_time:
#    Run_time.append(r.text)
#Run_time[0:100]

#ratings=driver.find_elements_by_class_name("lister-item-header")#.format(y))
#Ratings=[]
#for r in ratings:
#    Ratings.append(r.text)
#Ratings[0:100]

#votes=driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[2]')#.format(y))
#Votes=[]
#for r in votes:
#    Votes.append(r.text)
#Votes[0:100]


df=pd.DataFrame({'Name':Name[:100]})
                #'Year span':Year_span[:100]})
                #'Genre':Genre[:100],
                #'Run Time':Run_time,
                #'Ratings':Ratings[:100]})
                #'Votes':Votes[:100]})

df

Empty DataFrame
Columns: [Name]
Index: []

In [25]:
len(["Year_span"]), len(["Votes"])

(1, 1)

In [21]:
#top_series = {}
#top_series['Name'] = []
#top_series['Year_span'] = []
#top_series['Genre'] = []
#top_series['Run_time'] = []
#top_series['Ratings'] = []
#top_series['Votes'] = []
#for i in range(1,100):
#    name = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[1]/div[2]/h3/a'.format(i))
#    for n in name:
#        top_series['Name'].append(n.text)

year_span = driver.find_elements_by_xpath('//h3[@class="lister-item-year text-muted unbold"]/span[2]'#.format(i))
Year_span=[]
for y in year_span:
                                          
Year_span[0:100]        

genre = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]/span[5]'#.format(i))
Genre = []
for g in genre:
        Genre.append(g.text)
Genre[0:100]
#    run_time = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[1]/div[2]/p[1]/span[3]'.format(i))
#    for r in run_time:
#        top_series['Run_time'].append(r.text)
        
#    ratings = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[1]/div[2]/div[1]/div[1]/span[2]'.format(i))
#    for r in ratings:
#        top_series['Ratings'].append(r.text)

#    votes = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[1]/div[2]/p[4]/span[2]'.format(i))
#    for r in votes:
#        top_series['Votes'].append(r.text)
            
        
df=pd.DataFrame({'Year span':Year_span[:100],
                'Genre':Genre[:100]})

df

SyntaxError: invalid syntax (Temp/ipykernel_8500/172854628.py, line 14)

In [ ]:
#top_series = {}
top_series['Name'] = []
#top_series['Year_span'] = []
#top_series['Genre'] = []
#top_series['Run_time'] = []
#top_series['Ratings'] = []
#top_series['Votes'] = []
for i in range(1,100):
    name = driver.find_elements_by_xpath('//*[@id="main"]//a'.format(i))
    for n in name:
        top_series['Name'].append(n.text)

#    year_span = driver.find_elements_by_class_name("lister-item-year.text-muted.unbold".format(i))
#    for y in year_span:
#        top_series['Year_span'].append(y.text)
#    year_span[0:100]   
#    genre = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[1]/div[2]/p[1]/span[5]'.format(i))
#    for g in genre:
#        top_series['Genre'].append(g.text)

#    run_time = driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div[1]/div[2]/p[1]/span[3]'.format(i))
#    for r in run_time:
#        top_series['Run_time'].append(r.text)
        
#    ratings = driver.find_elements_by_class_name("ipl-rating-star__rating".format(i))
#    for r in ratings:
#        top_series['Ratings'].append(r.text)

#    votes = driver.find_elements_by_class_name("text-muted.text-small".format(i))
#    for r in votes:
#        top_series['Votes'].append(r.text)
#    votes[0:100]       
        
top_imdb = pd.DataFrame(top_series)
top_imdb

In [93]:
len(top_series["Year_span"]), len(top_series["Votes"])

(9900, 0)

10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

In [2]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

url = "https://archive.ics.uci.edu/ "
driver.get(url)

In [3]:
int = driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/span/b/a")
int.click()

In [35]:
#name=driver.find_elements_by_xpath('//div[@class="normal"]table/tbody/tr/td[2]/p/b/a')#.format(y))